@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
}

html.dark body {
    background-color: #171717;
}



.image-gallery-image {
    aspect-ratio: 16/9;
    object-fit: cover !important;
}

.image-gallery-icon {
    color: gray !important;
    filter: none !important;
    display: none;
}

.image-gallery-svg {
    width: 20px !important;
}

:hover.image-gallery-icon {
    color: rgb(14, 14, 14) !important;
}

.image-gallery-thumbnails-wrapper {
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.image-gallery-thumbnail {
    border: 2px solid transparent !important;
}

.image-gallery-thumbnail:hover {
    border: 2px solid #A8A29E !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
    border: 2px solid #A8A29E !important;
}
