@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
}

html.dark body {
    background-color: #171717;
}

.image-gallery-image {
    aspect-ratio: 16/9;
    object-fit: cover !important;
}

.image-gallery-icon {
    color: gray !important;
    filter: none !important;
    display: none;
}

.image-gallery-svg {
    width: 20px !important;
}

:hover.image-gallery-icon {
    color: rgb(14, 14, 14) !important;
}

.image-gallery-thumbnails-wrapper {
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.image-gallery-thumbnail {
    border: 2px solid transparent !important;
}

.image-gallery-thumbnail:hover {
    border: 2px solid #A8A29E !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
    border: 2px solid #A8A29E !important;
}
